@media (max-width: 769px) {
    main::after {
        background: linear-gradient(0deg, #000 20%, rgba(0, 0, 0, 0) 65%) no-repeat;
        width: 100vw;
    }

    main .personagem .imagens {
        object-fit: cover;
        position: absolute;
        right: 130px;
        overflow: visible;
    }

    .conteudo {
        justify-content: flex-end;
        left: 0;
        top: -20%;
        max-width: 100vw;
        padding: 30px;
    }

    .conteudo .nome-do-personagem{
        font-size: 36px;
    }

    .conteudo .descricao {
        max-width: 500px;
    }

    .botoes {
        bottom: 0;
        left: 0;
        display: flex;
        flex-direction: row;
        width: 100vw;
        justify-content: flex-start;
        align-items: flex-end;
        overflow-x: auto;
    }

    .botoes .botao img {
        max-width: 60px;
    }
    
    .botoes .botao {
        margin-left: 10px;
    }

    .botoes::-webkit-scrollbar {
        width: 60px;
        height: 3px;
    }
    
    .botoes::-webkit-scrollbar-track {
        background-color: #000;
    }
    
    .botoes::-webkit-scrollbar-thumb {
        background-color: #888;
        border-radius: 6px;
    }
}

@media (max-width: 425px) {

    .conteudo .logo {
        width: 170px;
        height: 75px;
    }

    .conteudo {
        top: -30%;
    }

    .conteudo .nome-do-personagem {
        font-size: 24px;
    }

    .botoes {
        padding: 20px;
        overflow-x: auto;
        white-space: nowrap;
    }

    .botoes .botao img {
        max-width: 50px;
    }
}